{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="/countries/{{country.id}}" method="post">
<div>
    <label for="name">Country:</label>
<input type="text" id="name" name="name" value="{{country.name}}">
  </div>

  <div>
    <label for="region">Region:</label>
    <input type="text" id="region" name="region" value="{{country.region}}" required>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">

      <option value="true"
        {% if country.visited== True %} selected="selected" {% endif %}>
        True
      </option>

      <option value="false"
        {% if country.visited == False %} selected="selected" {% endif %}>
        False
      </option>

    </select>
  </div>


  <button type="submit">Update Country</button>
</form>
</div>

{% endblock  %}