{% extends "base.html" %} {% block content %}
<h1 class="text-center">Bucket list progress on countries:</h1>
<div class="container">
  <h3><a href="/countries/new">Add New Country</a></h3>

  <div>
    <ul class="display-list">
      {% for country in all_countries %}
      <li class="display-box flex-grow">
        {{country.name}}
        <img
          src="https://flagcdn.com/36x27/{{country.code.lower()}}.png"
          srcset="
            https://flagcdn.com/72x54/{{country.code.lower()}}.png  2x,
            https://flagcdn.com/108x81/{{country.code.lower()}}.png 3x
          "
          width="36"
          height="27"
          alt="{{country.name}}"
        />
        <p>
          {% if country.visited == True %}
          <i
            class="fa fa-check fa-2x"
            style="color: green"
            aria-hidden="true"
          ></i>
          {% else %}
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </p>
        {% endif %}
        <p><a href="/countries/{{country.id}}">Click for more info</a></p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
