{% extends "base.html" %} {% block content %}

<div class="container">
  <h1 class="text-center">Bucket list progress on countries:</h1>

  <a href="/countries/new" class="button-link">Add New Country</a>

  <div>
    <ul class="display-list">
      {% for country in all_countries %}
      <li class="display-box flex-grow">
        {{country.name}}
        <img
          src="https://flagcdn.com/36x27/{{country.code.lower()}}.png"
          srcset="
            https://flagcdn.com/72x54/{{country.code.lower()}}.png  2x,
            https://flagcdn.com/108x81/{{country.code.lower()}}.png 3x
          "
          width="36"
          height="27"
          alt="{{country.name}}"
        />
        <p>
          Travelled? {% if country.visited == True %}
          <i
            class="fa-solid fa-circle-check fa-xl"
            style="color: green"
            aria-hidden="true"
          >
          </i>
          {% else %}
          <i
            class="fa-solid fa-circle-xmark fa-xl"
            style="color: red"
            aria-hidden="true"
          ></i>
        </p>
        {% endif %}
        <p><a href="/countries/{{country.id}}">Read More</a></p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
