{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3 class="text-center">About {{country.name}}:</h3>
  <p>Continent: {{country.region}}</p>
  <p>Cities in {{country.name}} that are on my bucket list:</p>
  {% for city in city_in_country %}
  <ul>
    <li>{{city.name}}</li>
  </ul>
  {% endfor %}
  <p>
    <a href="/countries/{{country.id}}/edit" class="button-link text-center"
      >Edit {{country.name}}</a
    >
  </p>
  <form
    class="visited-country"
    action="/countries/{{country.id}}"
    method="post"
    method="POST"
  >
    <button type="submit">Take off the bucket list!</button>
  </form>
</div>

{% endblock %}
