{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3>About {{country.name}} <img
      src="https://flagcdn.com/36x27/{{country.code.lower()}}.png"
      srcset="
        https://flagcdn.com/72x54/{{country.code.lower()}}.png  2x,
        https://flagcdn.com/108x81/{{country.code.lower()}}.png 3x
      "
      width="36"
      height="27"
      alt="{{country.name}}"
    />: </h3>
  </p>
  <p>Country Code: {{country.code}}</p>
  <p>Capital City: {{country.capital}}</p>
  <p>Continent: {{country.region}}</p>
  <p>Cities in {{country.name}} that are on my bucket list:</p>
  {% for city in city_in_country %}
  <ul class="bullet-point">
    <li>{{city.name}}</li>
  </ul>
  {% endfor %}
  <p>
    <a href="/countries/{{country.id}}/edit" class="button-link text-center"
      >Edit {{country.name}}</a
    >
  </p>
  {% if country.visited == False %}
  <form
    class="visited-country"
    action="/countries/{{country.id}}/visited"
    method="POST"
  >
    <button type="submit">
      Been there, done that
      <i
        class="fa-solid fa-circle-check"
        style="color: green"
        aria-hidden="true"
      >
      </i>
      🥳
    </button>
  </form>
  {% endif %}
  <div class="back-button">
    <a href="/countries" class="button-link"
      ><i class="fa-solid fa-circle-arrow-left"></i
    ></a>
  </div>
</div>

{% endblock %}
