{% extends 'base.html' %} {% block content %} 

<div class="container">
    <form action="/cities/{{city.id}}" method="post">
<div>
    <label for="name">City:</label>
<input type="text" id="name" name="name" value="{{city.name}}">
  </div>

  <div>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" value="{{city.country.name}}" required>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">

      <option value="true"
        {% if city.visited== True %} selected="selected" {% endif %}>
        True
      </option>

      <option value="false"
        {% if city.visited == False %} selected="selected" {% endif %}>
        False
      </option>

    </select>
  </div>


  <button type="submit">Update City</button>
</form>
</div>


{% endblock content %}