{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Cities on the Bucket List</h1>
  <form action="/cities" method="GET">
    <input
      type="search"
      class="form-control style-field"
      placeholder="Search"
      aria-label="Search"
      name="city-searched"
    />
    <button type="submit">Search</button>
  </form>
  <p>
    <a href="/cities/visited" class="button-link">Show Only Visited Cities</a>
    <a href="/cities/not_visited" class="button-link"
      >Show Only Unvisited Cities</a
    >
    <a href="/cities/new" class="button-link">Add New City</a>
  </p>
  <ul class="display-list">
    {% for city in all_cities%}
    <li class="display-box flex-grow">
      <span>{{city.name}}</span>
      <span
        ><img
          src="https://flagcdn.com/36x27/{{city.country.code.lower()}}.png"
          srcset="
            https://flagcdn.com/72x54/{{city.country.code.lower()}}.png  2x,
            https://flagcdn.com/108x81/{{city.country.code.lower()}}.png 3x
          "
          width="36"
          height="27"
          alt="{{city.country.name}}"
      /></span>
      <p>
        {% if city.visited == True %}
        <i
          class="fa-solid fa-circle-check fa-xl"
          style="color: green"
          aria-hidden="true"
        >
        </i>
        {% else %}
        <i
          class="fa-solid fa-circle-xmark fa-xl"
          style="color: red"
          aria-hidden="true"
        ></i>
        {% endif %}
      </p>
      <p><a href="/cities/{{city.id}}">Read More</a></p>
      {% endfor %}
    </li>
  </ul>
</div>

{% endblock %}
