{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3>Add a new city to the bucket list!</h3>
  <form action="/cities" method="POST">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="City"
        required
        autofocus
      />
    </div>

    <select id="country" name="country_id" class="form-control">
      <optgroup label="My Countries">
        {% for country in countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
      </optgroup>
    </select>
    <p>Don't see a country on the list?</p>
    <p><a href="/countries/new" class="button-link">Add a country here</a></p>

    <div>
      <label for="visited">Visited:</label>
      <select id="visited" name="visited">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <p><button type="submit">Add New City</button></p>
  </form>
</div>

{% endblock content %}
