{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3>
    Add a new city to the bucket list <i class="fa-solid fa-suitcase"></i>
  </h3>
  <form action="/cities" method="POST">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="City"
        required
        autofocus
      />
    </div>
    <p>
      Country:
      <select id="country" name="country_id" class="form-control">
        <optgroup label="My Countries">
          {% for country in countries %}
          <option value="{{ country.id }}">{{ country.name }}</option>
          {% endfor %}
        </optgroup>
      </select>
    </p>
    <p>
      <button type="submit">
        <i class="fa-solid fa-circle-plus"></i> New City
      </button>
    </p>
    <p>
      Don't see a country on the list? It's because you'll need to add it as an
      option first! <i class="fa-solid fa-circle-arrow-down"></i>
    </p>
    <p>
      <a href="/countries/new" class="button-link"
        ><i class="fa-solid fa-circle-plus"></i> New Country</a
      >
    </p>
  </form>
    <div class="back-button"><a href="/cities" class="button-link"><i class="fa-solid fa-circle-arrow-left"></i></a></i></div>
</div>

{% endblock content %}
