{% extends 'base.html' %} {% block content %}

<div class="container">
  <h3>About {{city.name}}:</h3>

  <span>Country: {{city.country.name}}</span><br />
  <span
    >Visited: {% if city.visited == True %}
    <i class="fa fa-check fa-2x" style="color: green" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    {% endif %} </span
  ><br />
  <div class="buttons">
    <form class="delete-city" action="/cities/{{city.id}}/delete" method="POST">
      <button class="trash-button">
        <i
          class="fa-solid fa-circle-xmark fa-xl"
          style="color: red"
          aria-hidden="true"
        ></i>
      </button>
    </form>
  </div>

  <div></div>
  <form
    class="visited-city"
    action="/cities/{{city.id}}"
    method="post"
    method="POST"
  >
    <button type="submit">Take off the bucket list!</button>
  </form>
</div>

{% endblock %}
