{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3>About {{city.name}}:</h3>
  <p>
    Country: {{city.country.name}}
    <img
      src="https://flagcdn.com/36x27/{{city.country.code.lower()}}.png"
      srcset="
        https://flagcdn.com/72x54/{{city.country.code.lower()}}.png  2x,
        https://flagcdn.com/108x81/{{city.country.code.lower()}}.png 3x
      "
      width="36"
      height="27"
      alt="{{city.country.name}}"
    />
  </p>

  <p>Attractions in {{city.name}} that are on my bucket list:</p>
  {% for attraction in attractions_in_city %}
  <ul class="bullet-point">
    <li>{{attraction.name}}</li>
  </ul>
  {% endfor %}

  <p>
    Travelled?: {% if city.visited == True %}
    <i
      class="fa-solid fa-circle-check fa-xl"
      style="color: green"
      aria-hidden="true"
    >
    </i>
    {% else %}
    <i
      class="fa-solid fa-circle-xmark fa-xl"
      style="color: red"
      aria-hidden="true"
    ></i>
  </p>

  <form
    class="visited-city"
    action="/cities/{{city.id}}"
    method="post"
    method="POST"
  >
    <button type="submit">
      Update to "Been there, done that
      <i
        class="fa-solid fa-circle-check"
        style="color: green"
        aria-hidden="true"
      >
      </i
      >" 🥳
    </button>
  </form>
  {% endif %}
  <p></p>

  <div class="buttons">
    <form class="delete-city" action="/cities/{{city.id}}/delete" method="POST">
      <button class="trash-button">
        <i
          class="fa-regular fa-trash-can fa-2x"
          style="color: red"
          aria-hidden="true"
        ></i>
      </button>
    </form>
  </div>
  <div class="back-button">
    <a href="/cities" class="button-link"
      ><i class="fa-solid fa-circle-arrow-left"></i
    ></a>
  </div>
</div>

{% endblock %}
