{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Attractions to see!</h1>
  <a href="/attractions/new" class="button-link">Add New Attraction</a>
  <ul class="display-list">
    {% for attraction in all_attractions%}
    <li class="display-box flex-grow">
      <p>{{attraction.name}}</p>
      <p>{{attraction.description}}</p>
      <p>{{attraction.city.name}}</p>
      <p>{{attraction.city.country.name}}</p>
      <p>{{attraction.date}}</p>
      <p>
        {% if attraction.visited == True %}
        <i
          class="fa-solid fa-circle-check fa-xl"
          style="color: green"
          aria-hidden="true"
        >
        </i>
        {% else %}
        <i
          class="fa-solid fa-circle-xmark fa-xl"
          style="color: red"
          aria-hidden="true"
        ></i>
        {% endif %}
      </p>
      <p><a href="/attractions/{{attraction.id}}">Read More</a></p>
      {% endfor %}
    </li>
  </ul>
</div>

{% endblock content %}
