{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3>Add a new attraction to see <i class="fa-solid fa-ticket"></i></h3>
  <form action="/attractions" method="POST">
    <div>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Attraction"
        required
        autofocus
      />
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea
        name="description"
        id="description"
        cols="25"
        rows="3"
      ></textarea>
    </div>

    <div>
      In:
      <select id="city" name="city_id" class="form-control">
        <optgroup label="My Cities">
          {% for city in cities %}
          <option value="{{ city.id }}">{{ city.name }}</option>
          {% endfor %}
        </optgroup>
      </select>
    </div>

    <p>
      <button type="submit">
        <i class="fa-solid fa-circle-plus"></i> New Attraction
      </button>
    </p>

    <p>
      Don't see a city on the list? It's because you'll need to add it as an
      option first! <i class="fa-solid fa-circle-arrow-down"></i>
    </p>
    <p>
      <a href="/cities/new" class="button-link"
        ><i class="fa-solid fa-circle-plus"></i> New City</a
      >
    </p>
  </form>
  <div class="back-button">
    <a href="/attractions" class="button-link"
      ><i class="fa-solid fa-circle-arrow-left"></i
    ></a>
  </div>
</div>

{% endblock content %}
