{% extends 'base.html' %} {% block content %}

<div class="detail-container">
  <h3>Travel Accomplished Attractions:</h3>
  <ul class="bullet-point">
    {% for attraction in attractions if attraction.visited == True %}
    <li>
      {{attraction.name}}
      <span
        ><img
          src="https://flagcdn.com/36x27/{{attraction.city.country.code.lower()}}.png"
          srcset="
            https://flagcdn.com/72x54/{{attraction.city.country.code.lower()}}.png  2x,
            https://flagcdn.com/108x81/{{attraction.city.country.code.lower()}}.png 3x
          "
          width="36"
          height="27"
          alt="{{attraction.city.country.name}}"
      /></span>
    </li>
    {% endfor %}
  </ul>
  <div class="back-button">
    <a href="/attractions" class="button-link"
      ><i class="fa-solid fa-circle-arrow-left"></i
    ></a>
  </div>
</div>
{% endblock content %}
