:root {
  --primary-color: rgb(223, 189, 192);
  --secondary-color: #21334a;
  --accent-color: #93568c;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-image: url("../static/images/pexels-nubia-navarro-\(nubikini\)-386009.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header > h1 {
  margin: 0;
  padding: 50px;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

header > nav > ul > li > a {
  font-size: 1.5rem;
  text-decoration: none;
}

header > nav > ul > li > a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
  color: var(--accent-color);
}

.container {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 90rem;
  background-color: rgb(223, 189, 192, 0.8);
  color: var(--secondary-color);
  padding: 25px;
}

.img-gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.img-gallery-container img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  max-height: 100%;
}
