{% extends "base.html" %} {% block content %}
<blockquote>
  I think I'm quite ready for another adventure.” <cite>- Bilbo Baggins</cite>
</blockquote>
<h1>To Travel...</h1>
<div class="to-travel-container">
  <div class="row">
    <div class="col">
      <img
        src="../static/images/index/machu_picchu_pexels-chelsea-cook-2929906.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
    <div class="col">
      <img
        src="../static/images/index/santorini_pexels-jimmy-teoh-1010657.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
    <div class="col">
      <img
        src="../static/images/index/kyoto_pexels-dsd-1822605.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img
        src="../static/images/index/machu_picchu_pexels-chelsea-cook-2929906.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
    <div class="col">
      <img
        src="../static/images/index/santorini_pexels-jimmy-teoh-1010657.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
    <div class="col">
      <img
        src="../static/images/index/kyoto_pexels-dsd-1822605.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
  </div>

  <div class="row">
    <h2>Visited...</h2>
    <div class="col">
      <img
        src="../static/images/index/machu_picchu_pexels-chelsea-cook-2929906.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
    <div class="col">
      <img
        src="../static/images/index/santorini_pexels-jimmy-teoh-1010657.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
    <div class="col">
      <img
        src="../static/images/index/kyoto_pexels-dsd-1822605.jpg"
        alt=""
        class="to-travel-img"
      />
    </div>
  </div>
</div>

{% endblock %}
