{% extends "base.html" %} {% block content %}
<blockquote>
  I think I'm quite ready for another adventure.” <cite>- Bilbo Baggins</cite>
</blockquote>

<div class="container">
  <h1>To travel...</h1>
  <div class="img-gallery-container">
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
  </div>
  <h1>Have travelled...</h1>
  <div class="img-gallery-container">
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="" />
  </div>
</div>

{% endblock %}
