{% extends "base.html" %} {% block content %}

<div class="container">
  <blockquote class="text-center">
    "I think I'm quite ready for another adventure.”
    <cite>- Bilbo Baggins</cite>
  </blockquote>

  <h1 class="text-center">To travel...</h1>
  <div class="img-gallery-container">
    <img src="static/images/index/kyoto_pexels-dsd-1822605.jpg" alt="Fushimi
    Inari Shrine"" />
    <img
      src="static/images/index/machu_picchu_pexels-chelsea-cook-2929906.jpg"
      alt="Machu Piccu"
    />
    <img
      src="static/images/index/edinburgh_pexels-radu-daniel-(-mrd-)-6906516.jpg"
      alt="Edinburgh"
    />
    <img
      src="static/images/index/london_pexels-miklos-magyar-2561281.jpg"
      alt="London"
    />
    <img
      src="static/images/index/gamcheon_village_pexels-naufal-shidqi-11858402.jpg"
      alt="Gamcheon Village"
    />
    <img
      src="static/images/index/santorini_pexels-jimmy-teoh-1010657.jpg"
      alt="Santorini"
    />
  </div>
  <h1 class="text-center">Have travelled...</h1>
  <div class="img-gallery-container">
    <img
      src="static/images/index/taj_mahal_pexels-sudipta-mondal-1603650.jpg"
      alt="Taj Mahal"
    />
    <img
      src="static/images/index/scotland_pexels-julia-barrantes-12086085.jpg"
      alt="The Highlands"
    />
    <img
      src="static/images/index/great_wall_of_chinapexels-boris-ulzibat-3262994.jpg"
      alt="Great Wall of China"
    />
  </div>
</div>

{% endblock %}
